{% extends "AppWeb/padre.html" %}

{%load static}


{% block titulo2 %}

<h1>Acerca de Mi</h1>

<br>
<br>

<p> Soy Luciano Scorza Graduado de Contador en 2010. </p>
<p> Me dedico al Analisis y Modelado de Datos y Generacion de Informacion para la toma de decisiones </p>
<p> Uso Herramientas tales como Excel, Power BI, Python (Pandas), Sql, Crystal Report y algunas más</p>

{% endblock %}



{% block descrip %}

Contactame para Mayor Info acerca mis Servicios
                        
{% endblock %}