<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Prov</title>
</head>
<body>
    
    <h1> Buscamos Proveedores </h1>

    <form action="/AppWeb/resultprov/" method="GET">
        Ingresa el Prov:    <input type="text" name="nombr"> <!-- name debe machear con prov_pedido=request.GET['nombr'] de views-->
        <input type="submit" value="Buscar">


    </form>
    
     {% for x in provs %}>
    <p>{{x.nombre}}</p>
    {% endfor %} 


</body>
</html>