{% extends "AppWeb/padre.html" %}


<!--este bloque referenciado dentro del padre en el title de html para poder cambiar el nombre del Html q se visualiza en la solapita-->
{% block title %} 

buscandoProv  
                        
{% endblock %}



<!--este bloque referenciado dentro del padre en el un apartado del body de html -->
{% block titulo %} 

    
    <h1> Buscamos Proveedores </h1>  <!-- Aparece como Etiqueta de Titulo, sale como mas destacado en Negrita y mas grande q si no lo pongo entre <h>-->
     
    <form action="/AppWeb/resultprov/" method="GET">  <!-- el action permite a donde me va a redireccionar luego del submit,  usarlo en los metodos GET  -->
        
        Ingresa el Prov:    <input type="text" name="nombr"> <!-- name debe machear con prov_pedido=request.GET['nombr'] de views- y aparece luego de ? en el url- ver ejemplo debajo
        http://127.0.0.1:8000/AppWeb/resultprov/?nombr=orlamax -->
        
        <input type="submit" value="Buscar">


    </form>
    

{% endblock %}
