<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NuevoProv</title>
</head>
<body>
    
    <h1> Creamos un Proveedor Nuevo  </h1>

    <form action="" method="POST"> {% csrf_token %}  <!-- se agrega un formulario -action es para enviar a una url desp de darle enviar pero ya se hace en la view - el metodo post permite agregar datos a la BD- se agrega token de validacion -->

        {{mi_formu}}

        <input type="submit" value="Guardar">  <!-- el argumento value es opcional si no sale Enviar-->

    </form>

</body>
</html>