{% extends "AppWeb/padre.html" %}


<!--este bloque referenciado dentro del padre en el title de html para poder cambiar el nombre del Html q se visualiza en la solapita-->

{% block title %} 

inicio  
                        
{% endblock %}


{% block titulo %}

{{mensaje}}  <!-- variable del mensaje cuando inicia sesion-->
                        
{% endblock %}

{% block titulo2 %}

Bienvenido a Mi Pagina Web
                        
{% endblock %}



{% block descripcion %}

<form action="/AppWeb/resultprov/" method="GET">  <!-- el action permite a donde me va a redireccionar luego del submit  -->
        
    Ingresa el Prov:    <input type="text" name="nombr"> <!-- name debe machear con prov_pedido=request.GET['nombr'] de views-->
    
    <input type="submit" value="Buscar">


</form>



{% endblock %}
