{% extends "AppWeb/padre.html" %}


<!--este bloque referenciado dentro del padre en el title de html para poder cambiar el nombre del Html q se visualiza en la solapita-->
{% block title %} 

items
                        
{% endblock %}



{% block titulo %}
  <!-- esto q pongo acá entre el block es lo q va a variar respecto del padre.html ya q le puse block "titulo" (titulo es la referencia) -->
No Disponible esta URL

{% endblock %}



{% block contenidoCentral %}

Vista de Items
<!-- fui escribiendo en el html padre donde se veía mejora para crear el bloque contenidoCentral -->  

{% endblock %}


