{% extends "AppWeb/padre.html" %}


{% block descrip %}


<ol> <!-- permite una lista ordenada (la enumera) si la quiero desordenada sería <ul> y la marca con un punto, ambas se deben complemetar con li -->
{% for x in object_list %} <!-- en las vistas basadas en listas no hace falta pasar el diccionario, solo se le pasa el objeto instancia-->

<li>Nombre Item : {{x.nombre}}</li>  <!-- complementa a la lista para referenciar a cada objeto-->
<br> <!--permite un salto de linea en cada registro de Prov, no requiere cierre-->
{% endfor %}

</ol>

{% endblock %}


{% block titulo2 %}

<button class="btn btn-primary"> <a class="nav-link" href="{% url 'a_item' %}">Agregar Nuevo Item </a></button>  <!--    le configuro el href para q lleve a dicha url q es el name  en la url en url.py --> 


{% endblock %}



