{% extends "AppWeb/padre.html" %}


<!--este bloque referenciado dentro del padre en el title de html para poder cambiar el nombre del Html q se visualiza en la solapita-->
{% block title %} 

leyendoProvs
                        
{% endblock %}

{% block titulo2 %}

Editamos y eliminamos Proveedores

{% endblock %}


{% block descrip %}

    <p>Lectura de Proveedores</p>
        
    {% for x in Supliers %}>    <!-- Supliers viene  de la view leer_prov y es la key del diccionario-->


    <button>
        <a href="{% url 'EditarProv' x.nombre %}"> Editar Proveedor</a>
        

    </button>

    <button>
        
        <a href="{% url 'EliminarProv' x.nombre %}"> Eliminar Proveedor</a> <!--la "a" del principio hace un hipervinculo, luego el Buton lo hace boton-->
        <!-- en la url se le da el parametro a eliminar-->

    </button>

    <table> <!--   convierte en tabla el contenido-->
        
        Nombre: {{x.nombre}}  <!-- x.nombre del atributo de la clase-->
        Cuit: {{x.CUIT}}  <!-- x.nombre del atributo de la clase-->
        Condicion: {{x.condicion}}  <!-- x.nombre del atributo de la clase-->

    </table>

    {% endfor %} 
                        
{% endblock %}
